@font-face {
  font-family: 'Fugue';
  src: url('../fonts/fugue/regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fugue/regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fugue/regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fugue/regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fugue/regular.svg#26a5f4031ec4a4c21898163151754229') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'UniversLTCYR-Roman';
  src: url('https://ucarecdn.com/4cfec4e9-6960-44ed-842e-6dcb75afdf18/33656C_0_0.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.b-slider__wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
  padding: 0 40px;
}

.b-slider__item {
  background-color: #008da9;
  color: #fff;
  margin: 20px 16px;
}

.b-slider__item img {
  max-height: 342px;
  width: 100%;
}

.b-item__title {
  font-family: 'Fugue';
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 8px 15px;
  text-transform: uppercase;
}

.b-item__title-line {
  border-bottom: 1px solid #fff;
  margin: 0 15px;
}

.b-item__customer {
  font-family: 'Fugue';
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 7px 15px;
}

.b-item__description {
  padding: 12px 15px;
  font-family: 'UniversLTCYR-Roman';
  font-size: 20px;
  line-height: 1.4;
}

.b-item__download-btn {
  background: #fff;
  color: #008da9;
  float: right;
  font-family: 'UniversLTCYR-Roman';
  font-size: 16px;
  margin: 0 7px 7px 0;
  padding: 4px 10px;
  text-decoration: none;
}

.slick-arrow {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  margin-top: -23.5px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
}

.slick-prev {
  left: 0;
}

.slick-prev::before {
  content: '';
  background: url('../images/slider-arrows.png') no-repeat 0 0;
  color: #000;
  display: inline-block;
  height: 47px;
  width: 24px;
}

.slick-next {
  right: 0;
}

.slick-next::after {
  content: '';
  background: url('../images/slider-arrows.png') no-repeat -48px 0;
  color: #000;
  display: inline-block;
  height: 47px;
  width: 24px;
}